div#LineSecundary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 2rem;

    h1#title {
        font-size: 1.7rem;

        color: var(--dark-grayish-blue-text);
    }

    div#layout {
        display: grid;
        grid-template: auto auto / auto auto auto auto;
        grid-gap: 2rem;

        width: 100%;
    }

    @media screen and (max-width: 1036px) {
        div#layout {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}