div.HomeDark {
    background-color: var(--very-dark-blue-bg);
}

div.HomeDark,
div.HomeLight
{
    transition: all 200ms;

    width: 100%;

    display: flex;
    justify-content: center;

    div#container {
        width: 80%;
    }
}

div.HomeLight {
    background-color: var(--white-bg-light-theme);
}

div.Home,
div#container
{
    position: relative;
}